<div class="weather">
            	<iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&amp;id=12&amp;icon=1&amp;num=1"></iframe>
            </div>
            
            <div class="news">
            
                <h3>
                    <p>最新<span>文章</span></p>
                </h3>
                <ul class="rank">
                	<li><a href="/newslist/502061158.html" title="对于帝都、魔都、妖都的介绍" target="_blank">对于帝都、魔都、妖都的介绍</a></li>
                    <li><a href="/newslist/502041526.html" title="友情似好酒，越久越香醇" target="_blank">友情似好酒，越久越香醇</a></li>
                    <li><a href="/itshare/501312208.html" title="MVC   重写返回Json" target="_blank">MVC   重写返回Json</a></li>
                    <li><a href="/itshare/501312149.html" title="asp.net 微信操作公共类大全" target="_blank">asp.net 微信操作公共类大全</a></li>
                    <li><a href="/itshare/501301743.html" title="Linux Glibc库严重安全漏洞修复通知" target="_blank">Linux Glibc库严重安全漏洞修复通知</a></li>
                    <li><a href="/seoshare/501292342.html" title="MVC EF 4 5 6写法的改变" target="_blank">MVC EF 4 5 6写法的改变</a></li>
                    <li><a href="/newslist/501291706.html" title="冬季，找个人陪你赏梅玩雪" target="_blank">冬季，找个人陪你赏梅玩雪</a></li>
                    <li><a href="/newslist/501281554.html" title="创建个人博客的原因是什么？" target="_blank">创建个人博客的原因是什么？</a></li>
                </ul>
                
                
                <h3 class="ph">
                    <p>点击<span>排行</span></p>
                </h3>
                <ul class="paih">
                <li><a href="/itshare/411051957.html" title="asp.net微信支付打通发货通知代码" target="_blank">asp.net微信支付打通发货通知代码</a></li><li><a href="/web/411051952.html" title="关于我" target="_blank">关于我</a></li><li><a href="/newslist/411131657.html" title="这个季节，自己动手做火锅" target="_blank">这个季节，自己动手做火锅</a></li><li><a href="/newslist/411051957.html" title="咖啡之念" target="_blank">咖啡之念</a></li><li><a href="/newslist/412311602.html" title="再见2014，我爱你2015" target="_blank">再见2014，我爱你2015</a></li></ul>
                
               <h3 class="links"><p>友情<span>链接</span></p></h3>
  			   <ul class="website">
   					<li><a href="http://www.lixue.xyz">离岸个人博客</a></li>
               </ul>
</div>